<?js
var data = obj;
if (data.description) {
?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
<dl>
	<dt>
		Type
	</dt>
	<dd>
		<?js= this.partial('type.tmpl', data.type.names) ?>
	</dd>
	<?js if (data.promise) { ?>
	<dt>Promise Detail:</dt>
	<dd>
	    <?js= this.partial('promise.tmpl', data.promise) ?>
	</dd>
	<?js } ?>
</dl>
<?js } ?>